# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IntelliJ / Android Studio
# =========================
*.iml
*.ipr
*.iws
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/app/google-services.json

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GoogleService-Info.plist

# =========================
# Firebase
# =========================
.firebase/
firebase-debug.log
**/firebase.json
**/.firebaserc
